<!--Userinfo_自分-->

<h2>User info</h2>
<%= image_tag current_user.get_profile_image(100,100) %>
<table class="table font-weight-bold">
  <tbody>
    <tr>
      <td scope="row">name</td>
      <td scope="row"><%= current_user.name %></td>
    </tr>
    <tr>
      <td scope="row">introduction</td>
      <td scope="row"><%= current_user.introduction %></td>
    </tr>
  </tbody>
</table>


<%= link_to edit_user_path(current_user.id), class: 'btn btn-outline-secondary btn-block' do %>
  <i class="fas fa-user-cog"></i>
<% end %>